name: validate-model

on:    
  workflow_dispatch:
  pull_request:
    branches: main
  

jobs:
  cml:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: iterative/setup-cml@v2

      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install requirements
        run: |
          pip install -r requirements.txt

      - name: Build Docker images for models
        run: |
          # Build Docker images from models folder
          for model_folder in models/*/; do
            model_name=$(basename "$model_folder")
            echo "Building Docker image for $model_name with context $model_folder"
            docker build \
              -f $model_folder/Dockerfile \
              -t $model_name:latest \
              $model_folder
          done

      - name: Run benchmarking
        env:
          repo_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: | 
          # Supervised game: Run DVC repro
          dvc repro benchmark/supervised/dvc.yaml --single-item
  
          # Zero-shot game: Run DVC repro
          dvc repro benchmark/zero_shot/dvc.yaml --single-item

          # Create report with metrics
          echo "# Model Validation Report" >> report.md
          echo "" >> report.md

          # Pick one supervised model
          cat <<EOF > report.md
          ## Supervised Models
          ✅ Supervised models have all passed validation.
          \`\`\`json
          $(cat ./benchmark/supervised/metric/NEIME_2019_pls.json)
          \`\`\`
          ## Zero-shot Models
          ✅ Zero-shot models have all passed validation.
          \`\`\`json
          $(cat ./benchmark/zero_shot/metric/ranganathan_esm.json)
          \`\`\`
          EOF
          
          # Send comment to PR
          echo "Send comment to PR"
          cml comment create report.md

      - name: Commit and push DVC lock files
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"         

          # Add and commit all files
          git add -f .
          git commit -m "Update DVC lock files with the results of metrics"

          # Update branch if there are changes
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git pull origin ${{ github.head_ref }} --rebase || true
            git push origin HEAD:${{ github.head_ref }}
          fi