name: validate-model

on:    
  workflow_dispatch:
  pull_request:
    branches: main
  

jobs:
  cml:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: iterative/setup-cml@v2

      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install requirements
        run: |
          pip install -r requirements.txt

      - name: Generate datasets
        run: |
          # Supervised game: Generate datasets and models
          proteingym-base list-datasets datasets | jq 'map(select(.name == "charge_ladder" or .name == "NEIME_2019")) | map({name: .name, input_filename: .input_filename}) | . = {"datasets": .}' > benchmark/supervised/datasets.json
          
          # Zero-shot game: Generate datasets and models
          proteingym-base list-datasets datasets | jq 'map(select(.name == "ranganathan")) | map({name: .name, input_filename: .input_filename}) | . = {"datasets": .}' > benchmark/zero_shot/datasets.json
      
      - name: Build Docker images for models
        run: |
          # Build Docker images from models folder
          for model_folder in models/*/; do
            model_name=$(basename "$model_folder")
            echo "Building Docker image for $model_name with context $model_folder"
            docker build \
              -f $model_folder/Dockerfile \
              -t $model_name:latest \
              $model_folder
          done
      
      - name: Generate models
        run: |
          # Generate supervised models.json with name and image (folder name from input_filename)
          proteingym-base list-models models | jq '[.[] | select(.tags | contains(["supervised"]))] | map({name: .name, image: "\(.input_filename | split("/")[-2]):latest"}) | {models: .}' > benchmark/supervised/models.json

          # Generate zero-shot models.json with name and image (folder name from input_filename)
          proteingym-base list-models models | jq '[.[] | select(.tags | contains(["zero-shot"]))] | map({name: .name, image: "\(.input_filename | split("/")[-2]):latest"}) | {models: .}' > benchmark/zero_shot/models.json


      - name: Run model validation
        env:
          repo_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: | 
          # Supervised game: Run DVC repro
          dvc repro benchmark/supervised/dvc.yaml --single-item
  
          # Zero-shot game: Run DVC repro
          dvc repro benchmark/zero_shot/dvc.yaml --single-item

          # Create report with metrics
          echo "# Model Validation Report" >> report.md
          echo "" >> report.md

          # Pick one supervised model
          cat <<EOF > report.md
          ## Supervised Models
          ✅ Supervised models have all passed validation.
          \`\`\`json
          $(cat ./benchmark/supervised/metric/charge_ladder_pls.json)
          \`\`\`
          ## Zero-shot Models
          ✅ Zero-shot models have all passed validation.
          \`\`\`json
          $(cat ./benchmark/zero_shot/metric/ranganathan_esm.json)
          \`\`\`
          EOF
          
          # Send comment to PR
          echo "Send comment to PR"
          cml comment create report.md